# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.pyd

# SQLite Database & Data
*.db
*.sqlite3
data/

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

# Logs & Environment
*.log
.env
.DS_Store
